@font-face {
    font-family: "SFU-helvetica-height";
    src: url(./../fonts/SFUHelveticaCondensedBold.TTF);
    font-weight: bold;
}

@font-face {
    font-family: "SFU-helvetica";
    src: url(./../fonts/SFUHelveticaBold.TTF);
    font-weight: bold;
}

@font-face {
    font-family: "SFU-helvetica";
    src: url(./../fonts/SFUHelveticaRegular.TTF);
    font-weight: normal;
}

@font-face {
    font-family: "Logo-font";
    src: url(./../fonts/utm-futura-extra.ttf);
    font-weight: normal;
}


@font-face {
    font-family: "SignPainter";
    src: url(./../fonts/Sign\ Painter\ Regular.ttf);
    font-weight: normal;
}


.headline {
    font-family: "SFU-helvetica-height";
}

body {
    font-size: 14px;
    font-family: "SFU-helvetica";
    color: black;
}
a:hover{
    text-decoration: none;
}

.header-top {
    min-height: 96px;
}


.header-top .logo img {
    height: 75px;
}
.header-top .d-flex{
    height: 96px;
}


.header-top .contact {
    min-height: 96px;

}

.header-top .contact p {
    margin: 0;
    white-space: nowrap;
}

.header-top .contact a {
    color: black;
}

.header-top .contact .contact-icon {
    border-radius: 16px;
    height: 32px;
    width: 32px;
    border: 1px solid #327846;
    text-align: center;
    margin: 5px;
}

.header-top .contact img {
    height: 16px;
}

.header-top .logo-name h1 {
    margin: 0;
    font-family: "Logo-font";
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #327846;
}

.header-bottom {
    min-height: 48px;
    background: #327846;
    overflow: hidden;
}

.header-bottom ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-bottom ul li {
    display: inline-block;
}

.header-bottom ul li a {
    color: white;
    display: block;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 12px 37px;
}

.header-bottom ul li a.active {
    color: #FFDCBE;
    font-weight: bold;
}

.header-bottom ul li:first-child a {
    padding-left: 0;
}

.header-bottom ul li:last-child a {
    padding-right: 0;
}

.header-bottom .container {
    position: relative;
}

.header-bottom .search {
    position: absolute;
    right: 0px;
    top: 10px
}
.header-bottom .btn-bar{
    position: absolute;
    left: 16px;
    top: 10px;
    color: white;
}
.header-bottom .btn-bar img{
    height: 24px;
    width:  24px;
}

.banner img {
    width: 100%;
}

.banner-intro {
    background: #327846;
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner-intro img {
    width: 100%;
    height: 366px;
    object-fit: cover;
    object-position: center;
}

.banner-intro h4 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.banner-intro p {
    color: white;
    font-size: 14px;
    line-height: 20px;
}


.banner-promo {
    min-height: 608px;
    background-image: url(./../image/home-promo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 200px;
}

.banner-promo img {
    display: block;
    height: 77px;
}

.banner-promo img:nth-child(2) {
    display: block;
    height: 97px;
    margin-top: 17px;
}

.banner-menu {
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner-menu h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #327846;
    margin-bottom: 60px;
}

.banner-menu img {
    width: 100%;
}

.banner-menu p,
.banner-menu h5 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    margin: 15px 0 25px 0;
}

.banner-menu h5 {
    font-size: 24px;
}

.banner-menu .menu-border {
    border: 2px dashed #327846;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 16px;
}
.banner-menu  .menu-border-outer {
    padding: 50px;

}
.banner-order {
    background: url(./../image/bg-order.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 80px;
}

.banner-order.no-bg {
    background: none;
}

.banner-order form {
    padding: 80px;
    background: #FFDCBE;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.banner-order.no-bg form {
    box-shadow: none;
}

.banner-order h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #327846;
    margin-bottom: 57px;
}

.banner-order textarea,
.banner-order input {
    height: 48px;
    border-radius: 0;
    border: 0;
    margin-bottom: 32px;
    padding-left: 24px;
}

.banner-order textarea {
    height: 144px;
}


.banner-order input::-webkit-input-placeholder,
.banner-order textarea::-webkit-input-placeholder,

.banner-order input::placeholder,
.banner-order textarea::placeholder {
    color: #00000030;
    font-weight: bold;
}

.banner-order input::-ms-input-placeholder,
.banner-order textarea::-ms-input-placeholder {
    color: #00000030;
    font-weight: bold;
}


.banner-order .input-icons {
    position: relative;
}

.banner-order .input-icons .input-icon {
    position: absolute;
    top: 16px;
    right: 12px;
}

.btn-full {
    border: 0;
    border-radius: 0;
    height: 48px;
    padding: 12px 33px;
    color: white;
    background: #327846;
    font-weight: bold;
    text-transform: uppercase;

}

#footer {
    background: #327846;
}

#footer .copyright {
    background: #FFDCBE;
    text-align: center;
    padding: 24px;

}

#footer .copyright p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin: 0;
}

#footer .logo img {
    height: 96px;
    margin-bottom: 47px;
}

.social-icon a,
#footer .footer-top a {
    color: white;
    display: block;
    margin-bottom: 13px;
    padding-left: 28px;
    position: relative;
}

.social-icon a {
    color: black;
}

.social-icon a img,
#footer .footer-top a img {
    position: absolute;
    left: 0px;
    top: 5px;
}

#footer .footer-top {
    padding-top: 80px;
    padding-bottom: 80px;

}

#footer .footer-top h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    text-transform: uppercase;
    margin-bottom: 23px;
    color: #FFFFFF;
}

.customer-count {
    height: 32px;
    border: 1px solid #E0E0E0;
    margin-top: -7px;
}

.customer-count button {
    height: 32px;
    padding: 7px 10px;
    border: 0;
    background: none;
    margin: 0 5px;
    margin-top: -4px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.banner-title {
    height: 336px;
    background: url(./../image/banner-title.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 140px;
    text-align: center;
    position: relative;
}

.banner-title::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background: #0005;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner-title h4 {
    position: relative;
    color: white;
    z-index: 1;

    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    align-items: center;
    text-transform: uppercase;
}

.intro-page {
    padding-top: 80px;
}

.intro-page h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #327846;
    text-align: center;
    margin-bottom: 47px;
}

.intro-page .video {
    padding-bottom: 80px;
    padding-top: 80px;
}

.intro-page .product-list .product-item {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 0;
    margin: -2px;
}

.intro-page .product-list .product-item::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    background: #32784680;
    top: 0;
    left: 0;
    z-index: 0;
}

.intro-page .product-item img {
    font-size: 0;
    width: 100%;
    border: 0;
    display: block;
}

.menu-page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.menu-page .product-item img {
    height: 208px;
    width: 100%;
}

.menu-page .product-item h4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 11px;
    margin-top: 15px;
}


.menu-page .product-item p.price {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #327846;
}

.menu-page .product-item button {
    background: #FFFFFF;
    border: 1px solid #C80000;
    box-sizing: border-box;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #C80000;
    padding: 4px 28px;
}

.menu-page .product-list .product-item {
    display: inline-block;
    width: calc((100% - 72px) / 3);
    margin-bottom: 80px;
    margin-right: 32px;
}

.menu-page .product-list .product-item:nth-child(3n) {
    margin-right: 0;
}

.paging a.active {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #327846;
}
.paging {
    margin-bottom: 80px;
}

.paging a {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 15px;
}

.side-bar .search-input {
    position: relative;
}

.side-bar .search-input input {
    height: 48px;
    border-radius: 0;
    padding-left: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-style: italic;

}

.side-bar .search-input img {
    position: absolute;
    right: 16px;
    top: 16px;
}

.side-bar h4 {
    margin-top: 32px;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
}

.side-bar .categories {
    list-style: none;
    margin-top: 32px;
    padding-left: 0;
}

.side-bar .categories li {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 0;
}

.side-bar .categories a {
    display: block;
    padding: 10px 0;
    color: #000;
}

.side-bar .categories a.active {
    padding: 10px 16px;
    background: #FFDCBE;
}

.news-page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.news-item {
    /* display: flex; */
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* height: 192px; */
}

.news-item img {
    width: 40%;
    vertical-align: text-top;
    display: inline-block;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
}

.news-item .news-content {
    vertical-align: text-top;
    display: inline-block;
    width: 59%;
    padding: 32px;
}

.news-item h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.news-item p {
    margin: 0;
}

.news-item a {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #327846;
    box-sizing: border-box;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #327846;
    padding: 4px 28px;
    margin-top: 30px;
}

.hot-news a {
    display: block;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 80px;
    position: relative;
    height: 80px;
}

.hot-news {
    list-style: none;
    padding-left: 0;
    margin-top: 28px;
    padding-top: 16px;
}

.hot-news a img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    margin-right: 16px;
    position: absolute;
    left: 0;
    top: -16px;
}

.news-list {
    padding-bottom: 80px;
}

.news-detail-page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.news-detail-page .news-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.news-detail-page .news-date {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}


.contact-page {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-page h2 {
    font-weight: bold;
font-size: 40px;
line-height: 55px;
text-transform: uppercase;
color: #327846;
margin-bottom: 44px;
}

.contact-page .social-icon{
    margin-top: 53px;
    margin-bottom: 32px;
}
.header-bottom .btn-bar{
    display: none;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1220px;
    }
}
.news-detail-page .news-content img{
    width: 100%;
}

@media (max-width: 992px) {
    .header-top .contact{
        display: none!important;
    }
    .header-bottom ul{
        padding-top: 40px;
    }
    .header-bottom li{
        display: block!important;
    }
    .header-bottom ul li a{
        padding-left: 0 !important;
    }
    .header-bottom .btn-bar{
        display: block;
    }
    .header-top .logo-name h1{
        font-size: 24px;
    }
    #footer .footer-top h3{
        margin-top: 32px;
    }
    .news-item img,
    .news-item .news-content{
        width: 100%;
    }
    .banner-order form,
    .banner-order{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media (max-width: 768px) {
    .header-top .logo img{
        height: 60px;
    }
    .menu-page .product-list .product-item{
        width: 100%;
        margin-right: 0;
    }
    .banner-intro h4{
        margin-top: 32px;
    }
   
    .banner-title{
        height: 200px;
        padding-top: 70px;
    }
    .banner-menu  .menu-border-outer {
        padding: 0px;
    
    }
}